//- mixins for main title paths
mixin prev(name)
	span.main-title__prev= name

mixin curr(name)
	span.main-title__curr= name

mixin section(name, title)
	section(class=name)
		div(class=name+"__container _container")
			h3(class=name+"__title subtitle")= title
			if block 
				div(class=name+"__content")
					block
			else 
				| nothing to see here yet